<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directivas</title>
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<main>
    <h1 v-show="conectado">Estoy conectado</h1>
    <h1 v-if="conectado">Estoy conectado con if</h1>
    <h2 v-if="edad < 18 ">No puedes entrar</h2>
    <h2 v-if="edad > 200">Eres inmortal</h2>
    <h2 v-else>Puedes entrar</h2>
    <pre>
        {{ $data }}
    </pre>

    <template v-if="conectado">
        <h3>Bienvenido Johan</h3>
        <ul>
            <li><a href="#">Mis datos</a><a href="#">Mensaje</a><a href="#">salir</a></li>
        </ul>
    </template>
    <h4 v-else>No estas conectado!</h4>
</main>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="js/directiva/main.js"></script>
</body>
</html>